@media only screen and (max-width: 1200px) {
    .header__content__text p{
        padding-right: 120px;
    }
  }
@media only screen and (max-width: 990px) {
    .header__content__text{
        margin-top: 30px;
    }
    .team{
        height: 100%;
        text-align: center;
        padding-bottom: 30px;
    }
    .team__content{
        flex-direction: column;
        align-items: center;
    }
    .diagrams__content{
        display: block;
    }
    .diagrams__content__option{
        margin-bottom: 90px;
    }
    .about__content{
        text-align: center;
        display: block;
    }
    .about__content__text p{
        padding: 0 40px;
    }
    .about__content__img{
        margin-top: 60px;
        justify-content: center;
    }
  }  
@media only screen and (max-width: 767px) {
    .nav{
        display: flex;
        justify-content: center;
    }
    .header__content{
        display: block;
        text-align: center;
    }
    .header__content__text p{
        padding: 30px 40px;
    }
    .header__content__img{
        text-align: center;
        padding-top: 60px;
    }
}